  .add-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-row > div {
    flex: 1;
    margin: 5px;
  }
  
  label {
    display: block;
    color: #FFD700; /* Slight yellow color */
  }
  
  #question {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px;
    height: 80px;
    overflow-x: hidden;
    white-space: pre-line; 
  }
  
  input[type="text"]:not(#question),
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px;
    overflow-x: hidden; /* Hide horizontal overflow */
    white-space: pre-line; /* Allow text to wrap to the next line */
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    overflow-x: hidden; /* Hide horizontal overflow */
    white-space: pre-line; /* Allow text to wrap to the next line */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  